.imageBody{
  margin-top:60px;
}

.cardLike, .cardSave, .editSave{
  cursor: pointer;
}
.optBTN{
  cursor: default !important;
  /* position: relative; */
  /* float: right; */
}

.imgxx:hover{
  opacity: 1 !important;
}
