.audioBody{
  margin-top:60px;
}

.cardLike, .cardSave, .editSave{
  cursor: pointer;
}
.optBTN{
  /* position: relative;*/
  cursor: default !important;
  /* margin-bottom: 2px;  */
}

.imgxx:hover{
  opacity: 1 !important;
}
