.videoBody{
  margin-top:60px;
}

.cardLike, .cardSave, .editSave, .vidShare{
  cursor: pointer;
}
.optBTN{
  /* position: relative; */
  /* float: left; */
  cursor: default !important;
}

.imgxx:hover{
  opacity: 1 !important;
}
