.video{
  color:pink;
}

.cardLike, .cardSave, .editSave{
  cursor: pointer;
}
.optBTN{
  /* position: relative; */
  /* float: left; */
  cursor: default !important;
}

.imgxx:hover{
  opacity: 1 !important;
}
